@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&display=swap');
:root {
    --cor-primaria: #F9F4EE;
    --cor-secundaria: #38A3A5;
    --cor-texto: #191717;

    --font-principal: font-family: 'Alegreya Sans SC', sans-serif;;
    --font-secundaria: font-family: 'Handlee', cursive;;
}